.galeria {
  grid-column: 1 / -1; /* começa da 1 e vai ate -1 */
}

.slide-wrapper {
  overflow: hidden;
  grid-column: 1 / -1;
}

.slide {
  display: flex; /* coloca uma imagem ao lado da outra*/
}

.slide:hover {
  will-change: transform; /* vai mudar o transform*/
}

.slide li {
  flex-shrink: 0; /* nao diminui o tamanho pra caber dentro da tela*/
  width: 80vw; /* significa 80% da tela, vw = virtual width*/
  max-width: 800px;
  margin: 0 20px; /* uma margem entre uma figura e outra*/

  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0,0,0,.4);
  opacity: .8;
  transform: scale(.8); /* diminui o tamanho*/
  transition: .4s;
}

.slide li.active {
  opacity: 1;
  transform: scale(1);
}

.custom-controls {
  display: flex; /* para ficar uma foto de cada lado */
  justify-content: center;
  flex-wrap: wrap; /* caso estoure o container vai quebrar, se nao colocar isso, apenas diminui o tamanho das imagens para caber*/
  grid-column: 1 / -1;
}

.custom-controls li {
  opacity: .8;
  transform: scale(.8);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden; /* precisa para a propriedade acima border-radius: 50%; funcionar e transformar em um circulo a img*/
  margin: 2px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .5);
  transition: .3s; /* para a bolinha crescer*/
}

.custom-controls li.active {
  opacity: 1;
  transform: scale(1);
}